.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 800px;
    min-height: 600px;
    background: #2D2424;
    text-align: center;
    margin: 32px auto;
    border-radius: 20px;
    padding-bottom: 32px;
  }